/* google font */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700');


body{
  margin-bottom: 80px;
  
}
nav{
  background-color: #ccc;
}

/* Portfolio Page */

.gallery-block{
   padding:60px;
   margin: auto;
  }
  
  .gallery-block .heading{
      margin-bottom: 50px;
      text-align: center;
      font-family: 'Poppins', sans-serif;
    
  }
  
  .gallery-block .heading h2{
      font-size: 2em;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing:3px;
      font-family: 'Poppins', sans-serif;
  }

  .gallery-block p{
      text-align:center;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
  }
  
  .gallery-block.compact-gallery .item{
    overflow: hidden;
    margin-bottom: 0;
    background: black;
    opacity: 1;
  }
  
  .gallery-block.compact-gallery .item .image{
    transition: 0.8s ease;
  }
  
  .gallery-block.compact-gallery .item .info{
    position: relative;
      display: inline-block;
  }
  
  .gallery-block.compact-gallery .item .description{
    display: grid;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      padding: 20px;
      font-size: .9em;
      line-height: 16px;
      font-family: 'Poppins', sans-serif;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      opacity: 1;
      color: #fff;
      transition: 0.8s ease;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
  }
  
  .gallery-block.compact-gallery .item .description .description-heading{
    font-size: .8em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  .gallery-block.compact-gallery .item .description .description-body{
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
  }
  
  @media (min-width: 576px) {
  
    .gallery-block.compact-gallery .item .description {
      opacity: 0; 
    }
  
    .gallery-block.compact-gallery .item a:hover .description {
      opacity: 1; 
    } 
  
    .gallery-block .zoom-on-hover:hover .image {
      transform: scale(1.3);
      opacity: 0.7; 
    }
  }

.page-header .h2, h2 {
    font-size:1.2em;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
 }

/* index page */

 .jumbotron{
  min-height: 100%;
  background-image: url(images/jumbotron.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  margin-bottom:20px;
 
  
}

#pop-text{
background-color: rgba(255, 255, 255, 0.459);
margin:auto;
height: auto;
padding-top:100px;
padding-bottom: 150px;


}


.jumbotron-heading{
  margin-top:auto;
  font-size: 3em;
  color: #333;
  text-transform: uppercase;
  letter-spacing:3px;
  font-family: 'Poppins', sans-serif;
}


form{
  margin: 80px;

}


h1{ 
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing:3px;
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
}

h3{
  text-transform: uppercase;
  letter-spacing:2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}
.text-center{
  margin-bottom: 40px;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  margin-bottom: 0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.icons {
  width:100%;
  text-align: center;
  margin:10px;
  color:#333;
}
.icons p a{
  color:#333;
}


.icons p:hover{
  color:goldenrod;
 }

.icons p a:hover{
 color:goldenrod;
}

button {
  margin-bottom:10px;
  font-size:10px;
  text-transform: lowercase;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}
.icons  {
margin:10px;
font-size: .8em;
font-family: 'Poppins', sans-serif;
font-weight: 200;
text-transform: uppercase;
letter-spacing: 2px;
}

body p{
  font-family: 'Poppins', sans-serif;
  font-size:.9em;
  font-weight: 200;
  line-height: 30px;
  margin: 4px;
}

.jumbotron p a{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;

}

.navbar-nav{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-weight: 400;
  font-size:12px;
}

i:hover{
  color:goldenrod;
}

#form1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

}


.footer  {
  position: absolute;
  margin-top: 100px;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  background-color: aliceblue;
  padding-bottom:0px;
  
}

footer .text-center{
  font-weight: 200;
  font-size: .6em;
  margin-top:30px;
}
